<div class="content">
  <h1>Turing School Attendance</h1>

  <section class="call-to-action">
    <h3>Participants for: <%= @meeting_id %></h3>
    <% @participants.each do |participant| %>
      <p><%= participant.email  %> joined at <%= participant.join_time %></p>
    <% end %>
  </section>
</div>