<h1>All past attendance dates</h1>
<% @lesson_dates.each do |lesson_date| %>
  <p>
    <%= link_to lesson_date.date_title, lesson_date_path(lesson_date) %>
    <%= lesson_date.time_of_day %>
    <%= lesson_date.module %>
  </p>
<% end %>
