<h1>Turing School Attendance</h1>
<p><%= link_to "Dates Index", lesson_dates_path %></p>

<h3>Live Meetings</h3>

<% @meetings.each do |meeting| %>
  <%= link_to "#{meeting.topic}", meeting_path(meeting.id)  %>
<% end %>
