<div class="content">
  <h1>Turing School Attendance</h1>
  
  <section class="call-to-action">
    <h3>Live Meetings</h3>

    <% @meetings.each do |meeting| %>
      <%= link_to "#{meeting.topic}", meeting_path(meeting.id) %>
    <% end %>
  </section>
</div>