 <div class="content">
  <h1> Welcome to the Attendance Tracker</h1>

  <section class="try-it-section">
    <h3> Please login using your Zoom Account </h3>
    <%= link_to "Zoom Login", "#{ENV["zoom_uri"]}" %>
  </section>
</div>