<h1> Welcome to the Attendance Tracker</h1>

<h3> Please login using your Zoom Account </h3>
<%= link_to "Zoom Login", "https://zoom.us/oauth/authorize?response_type=code&client_id=KpJ5cS_SPW9eN9x_AUQwg&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fdashboards" %>